<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/theme" />
<link rel="stylesheet" href="/styles/fonts.css" />
<link rel="stylesheet" href="/styles/manuals.css" />
</script>
